In [3]:
#importar cenas
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

In [4]:
#Ler o ficheiro

df_sz = 11831

df=pd.read_csv('final.csv', usecols=[0,1,2],header=None, parse_dates=[2], engine='python')


print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11832 entries, 0 to 11831
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       11832 non-null  object
 1   1       11832 non-null  int64
 2   2       11832 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 277.4+ KB
None
                  1
count  11832.000000
mean       4.026792
std        4.875966
min        1.000000
25%        1.000000
50%        3.000000
75%        5.000000
max      120.000000

In [5]:
#Retira os elementos únicos de uma lista 

def unique(trends):
 
    output = []
    for x in trends:
        if x not in output:
            output.append(x)
    return output

In [6]:
#Criar vetor p

serial=list(df[0])
serial=unique(serial)

serial.sort()


#Número de produtos
print(len(serial))

47

In [12]:
#Vendas totais de um artigo


X = df.groupby([0,2])


X.first()

#pd.concat([X.get_group(serial) for name in serial])


X=df.groupby([0,2]) #.groups
#print(X)
X.first()
#plt.plot(X)

                              1
0                 2
8-716-011-453-AAP 2018-01-15  1
                  2018-09-01  1
                  2018-11-26  1
                  2019-01-07  1
                  2019-02-07  1
...                          ..
JS-K8-M1W-Z97-AAP 2020-12-18  4
                  2020-12-21  6
                  2020-12-22  2
                  2020-12-23  3
                  2020-12-24  6

[6889 rows x 1 columns]

In [9]:
#Treinar

index_train=np.ceil(df_sz*0.75)
print(index_train)


train_X,test_X = X[1:8874], X[8874:]  # 75% and 25%


train_X.shape,test_X.shape

8874.0

TypeError: unhashable type: 'slice'